<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/team.css"/>
        <title>List of teams</title>
        <meta charset="utf8"/>
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;"/>
    </head>
    <body>
      <div class="table-title">
        <h3>Team Comparison</h3>
        </div>
        <table class="table-fill">
          <thead>
            <tr>
              <th class="text-center">Logo</th>
              <th class="text-left">Team</th>
              <th class="text-left">Victories</th>
              <th class="text-left">Draws</th>
              <th class="text-left">Defeats</th>
              <th class="text-left">Goals scored</th>
              <th class="text-left">Yellow Cards</th>
              <th class="text-left">Red Cards</th>
            </tr>
              </thead>
              <tbody class="table-hover">
          <tr th:each="t : ${teamNames}">
            <td>
              <img th:src="${logo[tStat.index]}">
          </td>
            <td class="text-left" th:text="${t}">name</td>
            <td class="text-left" th:text="${results[tStat.index][0]}">victories</td>
            <td class="text-left" th:text="${results[tStat.index][2]}">draws</td>
            <td class="text-left" th:text="${results[tStat.index][1]}">defeats</td>
            <td class="text-left" th:text="${results[tStat.index][3]}">goals</td>
            <td class="text-left" th:text="${yellowCards[tStat.index]}">yellow</td>  
            <td class="text-left" th:text="${redCards[tStat.index]}">red</td>
              </ul>
            </td>
          </tr>
        </table>
      
    </body>
</html>



