<form th:action="@{/saveEventRes}" method="post">
    <head>
        <title>Resume Event Registration</title>
        <link rel="stylesheet" href="/team.css"/>
        <meta charset="utf8"/>
    </head>
    <div="form-row">
        <div>
            <input type="hidden" th:field="*{event.id}">
        </div>
        <div>
            <input type="hidden" id="player" th:value="${{player}}" th:field="*{event.player}">
        </div>
        <div>
            <label>Username</label>
            <input type="text" name="user" th:value="${event.user}">
        </div>
        <div>
            <label>Games</label>
            <select id="game" th:field="*{event.game}" size="10" multiple="multiple">
				<option th:each="g : ${allGames}"
                        th:value="${{g}}"
						th:text="${g}">
					The name
				</option>
			</select>
        </div>
        <button type="submit">Register Resume Event</button>
    </div>
</form>