<form th:action="@{/saveEventGoal}" method="post">
    <head>
        <title>Goal Registration</title>
        <link rel="stylesheet" href="/team.css"/>
        <meta charset="utf8"/>
    </head>
    <div="form-row">
        <div>
            <input type="hidden" th:field="*{event.id}">
        </div>
        <div>
            <label>Username</label>
            <input type="text" name="user" th:value="${event.user}">
        </div>
        <div>
            <label>Players</label>
            <select id="players" th:field="*{event.player}" size="10" multiple="multiple">
				<option th:each="p : ${allPlayers}"
						th:value="${{p}}"
						th:text="${p.name}">
					The name
				</option>
			</select>
        </div>
        <div>
            <label>Games</label>
            <select id="game" th:field="*{event.game}" size="10" multiple="multiple">
				<option th:each="g : ${allGames}"
                        th:value="${{g}}"
						th:text="${g}">
					The name
				</option>
			</select>
        </div>
        <button type="submit">Register Goal Event</button>
    </div>
</form>