<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to deiSports</title>
        <link rel="stylesheet" href="/team.css"/>
        <meta charset="utf8"/>
    </head>
    <body>
        <div class="table-title"></div>
            </div>
            <table class="table-fill">
                <thead>
                    <tr>
                    <th class="text-left">Welcome to deiSports</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                    <td><a href="http://localhost:8080/login" style="display:block;">&nbsp;Login</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createUser">Create or Edit User</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createGame">Create Game</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createTeam">Create or Edit Team</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createPlayer">Create or Edit Player</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createData">Import Data From API</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/showTeams">Show Teams</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/showPlayers">Show Players</a></td>
                    </tr>        
                    <td><a href="http://localhost:8080/listTeamStats">Team Match Stats</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createEvent">Register Event</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/admEvents">Validate Events</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/currentGames">Show Current Games</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/showEvents">Show All Events</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/listPlayerGoalStats">Player Goal Stats</a></td>
                    </ul>
                    </td>
                </tr>
            </table>
    </body>
</html>