<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to deiSports</title>
        <link rel="stylesheet" href="/team.css"/>
        <meta charset="utf8"/>
    </head>
    <body>
        <div class="table-title"></div>
            </div>
            <table class="table-fill">
                <thead>
                    <tr>
                    <th class="text-left">Welcome to deiSports</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                    <td><a href="http://localhost:8080/login" style="display:block;">&nbsp;Login</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/login">Register</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createData">Create Data</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/showTeams">Show Teams</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/showPlayers">Show Players</a></td>
                    </tr>        
                    <td><a href="http://localhost:8080/listTeamStats">Team Match Stats</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createEvent">Register Card Event</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createEventGoal">Register Goal</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/createEventInt">Register Interruption</a></td>
                    </tr>
                    <td><a href="http://localhost:8080/listPlayerGoalStats">Player Goal Stats</a></td>
                    </ul>
                    </td>
                </tr>
            </table>
    </body>
</html>