<!DOCTYPE html>
<html>
    <head>
        <title>List of Events</title>
        <link rel="stylesheet" href="/team.css"/>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>List of Events</h1>
        <table border="1">
          <tr>
            <th>ID</th>
            <th>TYPE</th>
            <th>COLOR</th>
            <th>GAME</th>
            <th>PLAYER</th>
            <th>TIME</th> 
            <th>VALID</th> 
          </tr>
          <tr th:each="e : ${events}">
            <td th:text="${e.id}">id</td>
            <td th:text="${e.type}">type</td>
            <td th:text="${e.color}">color</td>
            <td th:text="${e?.game?.id}">game</td>
            <td th:text="${e?.player?.name}">player</td>
            <td th:text="${e.time}">time</td>
            <td th:text="${e.valid}">time</td>
          </tr>
        </table>
    </body>
</html>